<header class="site-header">
  <a class="site-title" href="/">Perihelion Technical Labs</a>
  <div class="site-nav">
    <a href="/about/" class="page-link">About</a>
    <a href="/team/" class="page-link">Our Team</a>
    <div class="dropdown">
      <button class="dropbtn" onclick="myFunction(this)">Projects <i class="fa-solid fa-angle-down"></i></button>
      <div class="dropdown-content">
        <a href="/projects/project-dawnbreak/">Project Dawnbreak</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn" onclick="myFunction(this)">Publications <i class="fa-solid fa-angle-down"></i></button>
      <div class="dropdown-content">
      </div>
    </div>
  </div>
</header>