<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | Perihelion Technical Labs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    <header>
        {% include _project_dawnbreak/header.html %}
        </header>

    <main>
        {{ content }}
    </main>

    <footer>
        {% include footer.html %}
        </footer>
</body>

</html>

